/* Generated for MSIE v11.0 on Windows */
@font-face {
     font-family: "Vazir";
     src: url("https://cdn.fontcdn.ir/Fonts/Vazir/7029f2f063c6d00005e5d2e09c72bb347b932db1ce0c5a169a2383ce61e57ca5.woff") format("woff");
     font-weight: 100;
     font-style: normal;
}
@font-face {
     font-family: "Vazir";
     src: url("https://cdn.fontcdn.ir/Fonts/Vazir/b9e4044238227ce402881503192eb3ebff427c237e01e5764fbbf37954feeb0c.woff") format("woff");
     font-weight: 300;
     font-style: normal;
}
@font-face {
     font-family: "Vazir";
     src: url("https://cdn.fontcdn.ir/Fonts/Vazir/d8ac444cba062f8881a04ae6c2c1b64f8e783d24077ccaeb3b253e45b0e3f68c.woff") format("woff");
     font-weight: 400;
     font-style: normal;
}
@font-face {
     font-family: "Vazir";
     src: url("https://cdn.fontcdn.ir/Fonts/Vazir/50fa8f94166e2a2b2a51442d25a7033e9fc85614d930e05335bdcfd522b5811e.woff") format("woff");
     font-weight: 500;
     font-style: normal;
}
@font-face {
     font-family: "Vazir";
     src: url("https://cdn.fontcdn.ir/Fonts/Vazir/a36031534021625309645dd204a61b39fefad8635846b8d9fbc84aaae3797f37.woff") format("woff");
     font-weight: 700;
     font-style: normal;
}
@font-face {
     font-family: "Vazir";
     src: url("https://cdn.fontcdn.ir/Fonts/Vazir/164eba9231506861f4b51405a3fb57554ee94b5e4263f01d405f42088ca550c0.woff") format("woff");
     font-weight: 900;
     font-style: normal;
}
/* CACHED: 2025-07-04T04:11:09+00:00 */
/* Powered by FontServer.ir */